/* banner */

  .grid-section {
    background-color: #fdefe6;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* By default, 1 column small devices */
    grid-template-rows: auto auto; /* 2 rows by default */
    gap: 20px;
    width: 100%;
    align-items: start;
}

.grid-item {
    padding: 20px;

}

.grid-item img {
  max-width: 100%; 
  max-height: 100%; 
  height: auto; 
}
.grid-item h1 {
  margin: 0;
  
}
#title-secondary-banner{
  padding: 0 50px;
}
.grid-quote{
  padding: 60px 90px;
  text-align: center;
}
.wide-row {
    grid-column: span 2; /* 2 colums for big devices  */
}
.lg-view{
  display:none;
}
@media (max-width: 767px) {
  .grid-item {
    padding: 0 20px;

}
}
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr; /* 2 colums for big devices */
    }
    .lg-view{
      display:inline-block;
      font-size: 60px;
   }
   .sm-view{
    display:none;
 }
   .grid-item img{
    max-height: 50%;
   }
   
}
@media (min-width: 1024px) {
  .banner-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .lg-view{
      display:inline-block;
      font-size: 80px;

   }
  
   .sm-view{
      display:none;
   }
   
   .grid-item h1 {
    font-size: 80px; 
}

}
